.forms {
    margin-top: 40px;
}

/* added to global styles */
.has-error.form-control {
    color: #9f005b;
    border-color: #9f005b;
    box-shadow: inset 0 0 0 1px #9f005b;
}

.has-error.form-control:focus {
    box-shadow: inset 0 0 0 2px #9f005b;
}

/* for example purposes - floating labels needed to properly work */
#phone-number-country {
    color: #000;
}